In [1]:
import pandas as pd

In [2]:
archive = "Sleep_health_dataset.csv"
df = pd.read_csv(archive,index_col='Person ID')

In [3]:
df.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
Person ID,,,,,,,,,,,,
1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [4]:
df.tail()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
Person ID,,,,,,,,,,,,
370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 1 to 374
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   374 non-null    object
 1   Age                      374 non-null    int64
 2   Occupation               374 non-null    object
 3   Sleep Duration           374 non-null    float64
 4   Quality of Sleep         374 non-null    int64
 5   Physical Activity Level  374 non-null    int64
 6   Stress Level             374 non-null    int64
 7   BMI Category             374 non-null    object
 8   Blood Pressure           374 non-null    object
 9   Heart Rate               374 non-null    int64
 10  Daily Steps              374 non-null    int64
 11  Sleep Disorder           374 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 38.0+ KB

In [6]:
df.isnull().sum()

Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64

In [7]:
df['Gender'].value_counts()

Male      189
Female    185
Name: Gender, dtype: int64

In [8]:
df['Age'].value_counts()

43    34
44    30
37    20
38    20
50    20
31    18
32    17
53    17
59    16
39    15
45    14
33    13
30    13
29    13
35    12
36    12
41    12
49    11
57     9
52     9
42     9
51     8
54     7
58     6
28     5
40     4
48     3
55     2
56     2
34     2
27     1
Name: Age, dtype: int64

In [9]:
print(f"minimum age value: {df['Age'].min()}")
print(f"maximum age value: {df['Age'].max()}")
print(f"middle age value: {df['Age'].mean():.0f}")
print(f"age value that appears the most: {df['Age'].mode().iloc[0]}")

minimum age value: 27
maximum age value: 59
middle age value: 42
age value that appears the most: 43

In [10]:
print('\n'.join(df['Occupation'].unique()))

Software Engineer
Doctor
Sales Representative
Teacher
Nurse
Engineer
Accountant
Scientist
Lawyer
Salesperson
Manager

In [11]:
df['Occupation'].value_counts()

Nurse                   73
Doctor                  71
Engineer                63
Lawyer                  47
Teacher                 40
Accountant              37
Salesperson             32
Software Engineer        4
Scientist                4
Sales Representative     2
Manager                  1
Name: Occupation, dtype: int64

In [12]:
df['Sleep Duration'].value_counts()

7.2    36
6.0    31
7.8    28
6.5    26
6.1    25
7.7    24
6.6    20
7.1    19
8.1    15
7.3    14
8.4    14
6.3    13
8.5    13
8.0    13
6.2    12
8.2    11
7.6    10
6.4     9
7.9     7
7.4     5
6.7     5
7.5     5
6.8     5
8.3     5
5.9     4
6.9     3
5.8     2
Name: Sleep Duration, dtype: int64

In [13]:
print(f"minimum sleep duration value: {df['Sleep Duration'].min()}")
print(f"maximum sleep duration value: {df['Sleep Duration'].max()}")
print(f"middle sleep duration value: {df['Sleep Duration'].mean():.1f}")
print(f"sleep duration value that appears the most: {df['Sleep Duration'].mode().iloc[0]}")

minimum sleep duration value: 5.8
maximum sleep duration value: 8.5
middle sleep duration value: 7.1
sleep duration value that appears the most: 7.2

In [16]:
df['Quality of Sleep'].value_counts()

8    109
6    105
7     77
9     71
5      7
4      5
Name: Quality of Sleep, dtype: int64

In [19]:
print(f"minimum quality of sleep value: {df['Quality of Sleep'].min()}")
print(f"maximum quality of sleep value: {df['Quality of Sleep'].max()}")
print(f"middle quality of sleep value: {df['Quality of Sleep'].mean():.0f}")
print(f"quality of sleep value that appears the most: {df['Quality of Sleep'].mode().iloc[0]}")

minimum quality of sleep value: 4
maximum quality of sleep value: 9
middle quality of sleep value: 7
quality of sleep value that appears the most: 8

In [20]:
df['Physical Activity Level'].value_counts()

60    70
30    68
45    68
75    67
90    67
40     6
55     6
35     4
50     4
70     3
42     2
32     2
80     2
65     2
85     2
47     1
Name: Physical Activity Level, dtype: int64

In [21]:
print(f"minimum physical activity level value: {df['Physical Activity Level'].min()}")
print(f"maximum physical activity level value: {df['Physical Activity Level'].max()}")
print(f"middle physical activity level value: {df['Physical Activity Level'].mean():.0f}")
print(f"physical activity level value that appears the most: {df['Physical Activity Level'].mode().iloc[0]}")

minimum physical activity level value: 30
maximum physical activity level value: 90
middle physical activity level value: 59
physical activity level value that appears the most: 60

In [22]:
df['Stress Level'].value_counts()

3    71
8    70
4    70
5    67
7    50
6    46
Name: Stress Level, dtype: int64

In [23]:
print(f"minimum stress value: {df['Stress Level'].min()}")
print(f"maximum stress value: {df['Stress Level'].max()}")
print(f"middle stress value: {df['Stress Level'].mean():.0f}")
print(f"stress value that appears the most: {df['Stress Level'].mode().iloc[0]}")

minimum stress value: 3
maximum stress value: 8
middle stress value: 5
stress value that appears the most: 3

In [14]:
print('\n'.join(df['BMI Category'].unique()))

Overweight
Normal
Obese
Normal Weight

In [24]:
df['BMI Category'].value_counts()

Normal           195
Overweight       148
Normal Weight     21
Obese             10
Name: BMI Category, dtype: int64

In [25]:
df['Heart Rate'].value_counts()

68    94
70    76
72    69
65    67
75    36
78     5
85     3
80     3
84     2
83     2
73     2
67     2
74     2
77     2
81     2
76     2
69     2
86     2
82     1
Name: Heart Rate, dtype: int64

In [26]:
print(f"minimum heart rate value: {df['Heart Rate'].min()}")
print(f"maximum heart rate value: {df['Heart Rate'].max()}")
print(f"middle heart rate value: {df['Heart Rate'].mean():.0f}")
print(f"heart rate value that appears the most: {df['Heart Rate'].mode().iloc[0]}")

minimum heart rate value: 65
maximum heart rate value: 86
middle heart rate value: 70
heart rate value that appears the most: 68

In [27]:
df['Daily Steps'].value_counts()

8000     101
6000      68
5000      68
7000      66
10000     36
5500       4
3000       3
3500       3
4000       3
6800       3
4800       2
7300       2
7500       2
4200       2
3300       2
5600       2
5200       2
4100       2
3700       2
6200       1
Name: Daily Steps, dtype: int64

In [28]:
print(f"minimum daily steps value: {df['Daily Steps'].min()}")
print(f"maximum daily steps value: {df['Daily Steps'].max()}")
print(f"middle daily steps value: {df['Daily Steps'].mean():.0f}")
print(f"daily steps value that appears the most: {df['Daily Steps'].mode().iloc[0]}")

minimum daily steps value: 3000
maximum daily steps value: 10000
middle daily steps value: 6817
daily steps value that appears the most: 8000

In [31]:
df['Blood Pressure'].value_counts()

130/85    99
140/95    65
125/80    65
120/80    45
115/75    32
135/90    27
140/90     4
125/82     4
132/87     3
128/85     3
126/83     2
115/78     2
139/91     2
142/92     2
119/77     2
135/88     2
129/84     2
128/84     2
131/86     2
117/76     2
130/86     2
118/75     2
121/79     1
122/80     1
118/76     1
Name: Blood Pressure, dtype: int64

In [15]:
print('\n'.join(df['Sleep Disorder'].unique()))

None
Sleep Apnea
Insomnia

In [29]:
df['Sleep Disorder'].value_counts()

None           219
Sleep Apnea     78
Insomnia        77
Name: Sleep Disorder, dtype: int64